.template-title{
    color:var(--white);
    font-size: 22px;
    display: grid;
    grid-auto-flow: column;
    box-sizing: border-box;
    grid-column-gap: 6px;
    padding: 0px 16px;
    align-items: center;
    height: 70px;
    font-weight: bold;
    border-bottom: solid 1px var(--gray);
    justify-self: start;
    max-width: 1280px;
    margin: auto;
}
.template-icon{
    width: 40px;
}
.title-name{
    justify-self: start;
}
.title-button{
    width: 130px;
    height: 40px;
    font-size: 14px;
    border: var(--green) solid 2px;
    border-radius: 5px;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    justify-self: end;
}
.button-img{
    width: 20px;
    height: 20px;
    filter: invert();
}
